.header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  height: 40px;
}
.navbar-container {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: flex-end;
  background-color: rgb(228, 228, 228);
  align-items: center;
}
.navbar-container > * {
  margin: 0 1.25rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 99, 230);
}

.navbar-logout {
  color: rgb(156, 156, 156);
  padding: 0.35rem;
}
